# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
src/SpaceInvadersRemake/[Ll]ibrary/
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.vs/

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
src/SpaceInvadersRemake/Assets/Examples
Examples.meta
spine-csharp.meta
src/SpaceInvadersRemake/Assets/spine-csharp
src/SpaceInvadersRemake/Assets/spine-unity
spine-unity.meta
docs/images/history

# =============================================================== #
# Spine Runtine should not be included, they can be downloaded at #
# http://esotericsoftware.com/spine-unity-download                #
# =============================================================== #
Spine/
Spine.meta
Spine Examples/
Spine Examples.meta
