[submodule "src/SpaceInvadersRemake/Assets/Scripts/Skahal-Unity-Scripts"]
	path = src/SpaceInvadersRemake/Assets/Scripts/Skahal-Unity-Scripts
	url = https://github.com/skahal/Skahal-Unity-Scripts.git
